!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title valentin tsatskin
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    / Le styles
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "css/bootstrap-responsive.css", :rel => "stylesheet"}
    %link{:href => "css/sup.dude.css", :rel => "stylesheet"}
    %link{:href => "http://fonts.googleapis.com/css?family=PT+Mono|Oxygen|Imprima|Bree+Serif", :rel => "stylesheet", :type => "text/css"}
    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    / Le fav and touch icons
    / %link{:href => "ico/favicon.ico", :rel => "shortcut icon"}
    / %link{:href => "ico/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}
    / %link{:href => "ico/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}
    / %link{:href => "ico/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}
  %body
    .container
      .row
        .span5
          %header
            %h1.nav-items
              %a(href="#home") Valentin Tsatskin
            %span
              I love code. I'm also an
              %abbr(title="Candidate for a Bachelor of Applied Science (BASc) in Systems Design Engineering at the University of Waterloo")
                Engineer-In-Training
          #projects
            %h2 My Projects
            %ul.nav-items
              %li
                %a(href="#uw-don-tracker") UW Don Tracker
              %li
                %a(href="#HBL") HBL
              %li
                %a(href="#twitter-timeline") Twitter-Timeline
              %li
                %a(href="#valentin.tsatsk.in") valentin.tsatsk.in
          #contact
            %h2 My Info
            %p
              %a.label.label-info(href='https://github.com/vtsatskin/') GitHub
              %a.label.label-info(href='https://twitter.com/vtsatskin/') Twitter
              %span.nav-items
                %a.label.label-inverse(href='#resume') Resume
            %p.monospace
              %span.label Mobile
              +1 226 972 0662
              %br
              %span.label Email
              val@valtsatskin.com

        #content.span7
          %a(name='home')
          %section#home.active
            %img{:src => "img/me.jpg"}

          %a(name='HBL')
          %section#HBL
            %h2 HBL
            %p A distributed IRC channel logger
            %h3 Geek Specs
            %ul.spaced
              %li.ruby
                Ruby
                %ul
                  %li.sinatra Sinatra
                  %li MongoMapper
                  %li Journeta P2P
                  %li Rspec
                  %li HAML
                  %li Cinch IRC
              %li.mongodb MongoDB
              %li Redis
              %li Bootstrap
              %li jQuery

          %a(name='uw-don-tracker')
          %section#uw-don-tracker
            %h2 UW Don Tracker
            %p Mobile crowdsourcing of uWaterloo Residence Don locations
            %p
              %em Keeping residence live since 2012
            .row
              .span4
                %img(src='img/uw-don-tracker.png')
              .span2
                %h3
                  Geek Specs
                %ul.spaced
                  %li.none
                    %a.label(href='https://github.com/vtsatskin/UW-Don-Tracker')
                      github
                  %li.ruby
                    Ruby
                    %ul
                      %li.sinatra Sinatra
                      %li Mongomapper
                  %li.mongodb MongoDB
                  %li Phonegap
                  %li jQuery
                  %li jQuery Mobile
                  %li Knockout JS

          %a(name='twitter-timeline')
          %section#twitter-timeline
            %h2 Twitter-Timeline

          %section#valentin.tsatsk.in
            %h2 valentin.tsatsk.in
            %p My personal website (hint: you're currently viewing it!)
            %h3 Geek Specs
            %ul.spaced
              %li.none
                %a.label(href='https://github.com/vtsatskin/valentin.tsatsk.in')
                  github
              %li HAML
              %li Bootstrap
              %li jQuery
    / Placed at the end of the document so the pages load faster
    %script{:src => "js/jquery-1.7.2.min.js"}
    %script{:src => "js/jquery.scrollTo-1.4.2-min.js"}
    %script{:src => "js/vt.js"}